body {
  background-color: rgb(234, 255, 255);
}

main {
  text-align: center;
}

.is-hidden {
  display: none;
}

.appointments_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: red;
  width: 5000px;
}

.scrolling_wrapper {
  width: 100%;
  position: absolute;
  overflow: auto;
}

.appointments_container {
  width: 33%;
}

.appointment_card {
  border-width: 10px;
  border-color: black;
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: rgb(118, 253, 253);
  margin-bottom: 20px;
  justify-content: space-around;
  transition: border-radius 800ms;
  transition: background-color 300ms;
  justify-self: stretch;
  justify-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
}

.first_rows {
  background-color: rgb(103, 103, 110);
  color: white;
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: stretch;
  justify-items: stretch;
  align-content: stretch;
  margin-bottom: 10px;
}

.appointment_card:hover {
  background-color: rgb(48, 145, 255);
  border-radius: 1rem;
}

.appointment_card * {
  flex-basis: 20%;
}
